
.Rproj.user/
.Rproj.user/shared/
.Rproj.user/shared/notebooks/paths
.Rproj.user/E568CB7A/
.Rproj.user/E568CB7A/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
*.Rproj
.Rproj.user/E568CB7A/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
*.pper
